@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: $Poppins;
  color: $dark;
  background-color: $bg;


  h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3rem;
  }
  font-family: "Montserrat", "sans-serif";
  line-height: 2rem;
}
h2 {
  
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: .8rem;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  color: $dark;
  text-underline-offset: 10px;
}

a:hover {
  color: $primary;
}
