.section {
  width: 85%;
  height: 85vh;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;

}