@import "./variables.scss";
.section {
  padding: 0 1rem;
  
  @media only screen and (min-width: 900px) {
    padding: 4rem 5rem;
  }

  @media only screen and (min-width: 1200px) {
    padding: 4rem 10rem;
  }
}

.lighBg {
  background-color: $bg;
}
.darkBg {
  background-color: $dark;
  color: $light;
}