@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

$Poppins: "Poppins", "Helvetica", "sans-serif";

// colors
$dark-color: rgb(29, 29, 29);
$light: #f7f7f2;
$primary: #ec4067;
$primary-darker: #b11e40;
$bg: #f7f7f2;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 75px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}